:root{
    --clr-primary: #325820;
    --clr-secondary: #14bb1d;
    --clr-accent1: #ffffff;
    --clr-accent2: #000000;
    --ff-header: Roboto;
    --ff-paragraph: Poppins;
    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 500;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-700: 3.25rem;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: var(--ff-header,--ff-paragraph);
    font-size: var(--fs-400);
    line-height: 1.5;
    font-weight: var(--fw-regular);
    color: var(--clr-accent2);
    margin: 0;
    padding: 0;

}
/* header{
    display: flex;
    background-color: #325820;
} */
img{
    max-width: 100%;
    display: block;
    
}

/* header{
    display: flex;
    background-color: var(--clr-primary);
} */

.logo{
    width: 8rem;
    padding: 1rem;
    margin-left: 2rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 15px;
    background: var(--clr-primary); 
    }
    nav a {
    text-decoration: none;
    color: white;
    }
    .list{
        display: flex;
        list-style: none;
        gap: 25px;
    }
    
     .nav-list-items{
        padding: 1rem;
        
    }
    .nav-list-items:hover{
        background-color: var(--clr-secondary);
        border-radius: 10px;
    } 
    
     .nav-list-links{
        text-decoration: none;
        font-size: var(--fs-400);
        text-align: center;
        padding: 0 3rem;
        font-weight: var(--fw-semi-bold);
        color: var(--clr-accent1);
    } 

    #toggler, label{
    display: none;
    }
    label i{
    color: var(--clr-accent1);
    }

/* .nav-lists{
    display: flex;
    margin-left: 32rem;
    padding-left: 1rem;
    list-style: none; 
}


.nav-list-items{
    padding: 1rem;
    
}
.nav-list-items:hover{
    background-color: var(--clr-secondary);
    border-radius: 10px;
}
.nav-list-links{
    text-decoration: none;
    font-size: var(--fs-400);
    text-align: center;
    padding: 0 3rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-accent1);
} */

.bg-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bg-img{
    grid-column: 1/6;
    grid-row: 1/3;

}

.bg-text{
    grid-column: 1/3;
    grid-row: 2/3;
    color: var(--clr-accent2);
    margin-left: 2rem;
    font-weight: var(--fw-bold);
    margin-bottom: 3rem;

}

.h1-span{
    color: var(--clr-secondary);
}


.bg-text h1{
    font-size: var(--fs-600);
}

.bg-text p{
    font-weight: var(--fw-regular);
    color: var(--clr-accent1);
}

.why-us{
    margin: 5rem;
    text-align: center;
    font-weight: var(--fw-regular);
    padding: 1rem;
    
    /* background-color: #f8f8f8; */
}



.banner-image{
   width: 100%;
   height: 500px;
}

.our-services{
    margin: 3rem;
   
}

.our-service-container h2{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    font-size: var(--fs-200);
    text-align: center;
}

.card-divs{
    /* border: 2px solid var(--clr-primary); */
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--clr-primary) ;
}

.card-divs:first-child p{
    line-height: 1rem;
}

.card-image{
    margin: 0 2rem 0 0;
    height: 240px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-divs p, h2{
    padding: 0 1rem;
}

footer{
    display: flex;
    background-color: var(--clr-primary);
    margin-top: 6rem;
    padding: 3rem;
    justify-content: space-around;
    color: var(--clr-accent1);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-400);
    padding-left: 0;
}

.social{
    display: flex;
    justify-content: space-around;
    
}

.social img{
    margin: 1rem;
    margin-right: 0;
    width: 2.5rem;
}

p a{
    color: var(--clr-accent1);
    text-decoration: none;
    margin: 0;
    padding: 0;
}


/* FARM MANAGEMENT AND CONSULTANCY */

.background{
    width: auto;
    height: 22rem;
    background-color: var(--clr-primary);
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;
    color: var(--clr-accent1);
}
.background h1{
    font-size: var(--fs-700);
    font-weight: var(--fw-semi-bold);
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-section{
    margin: 0 8rem;
    gap: 2rem;
    
}

.text-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 1rem;
    gap: 2rem;
}

.text{
    font-size: var(--fs-300);
    text-align: center;
    /* margin-top: 2rem; */
    
    
}

.service-image img{
    width: 30rem;
    height: 20rem;
    margin-top: 1rem;
}

.btn{
    background-color: var(--clr-secondary);
    color: var(--clr-accent1);
    text-align: center;
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    height: 2.5rem;
    width: auto;
    margin: 1rem 4rem;
    border-radius: 10px;
    cursor: pointer;

}

.btn:hover{
    background-color: var(--clr-primary);
}
.btn p{
    text-align: center;
    padding: 0.5rem;
}

h3{
    font-size: var(--fs-600);
}

footer p :hover{
     color: var(--clr-secondary);
}


/* FORM SECTION */

input[type = text], select, textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--clr-secondary);
    border-radius: 5px;
    resize: vertical;
}

 /* label{
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
}  */

input[type=submit]{
    background-color: var(--clr-secondary);
    color: var(--clr-accent1);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    width:100% ;
    border-radius: 10px;
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    height: 2.5rem;
}

input[type=submit]:hover{
    background-color: var(--clr-primary);
    
}

.form-container{
    background-color:var(--clr-accent1);
    border-color: var(--clr-secondary);
    border-style: solid;
    padding: 1rem;
    border-radius: 5px;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 0.5rem;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 0.5rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.nav-toggle{
    display: none;
}



@media screen and (max-width: 600px) {

    /* FORM SECTION */
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        }
         label{
        display: inline-flex;
        } 
        #toggler:checked~.menu{
        max-height: 100%;
        }
        .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        }

        .logo{
            width: 5.5rem;
            padding: 1rem;
            margin-left: 0.5rem;
        }

        .bg-container{
            display: block;
        }
        .bg-img{
            position: relative;
        }
        .bg-text{
            margin: 7px 2px;
            font-size: var(--fs-200);
            text-align: center;
            position: absolute;
            margin-top: -400px;
        
        }
        .bg-text p{
            color: var(--clr-accent2);
            padding: 0 2em;
            font-weight: var(--fw-bold);
            opacity: 0.7;
        }

        .why-us{
            padding: 0;
        }
        .why-us-container{
            font-size: var(--fs-300);
            padding: 0;
        }
        .card-container{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        /* .slideshow-container{
            max-width: 600px;
            position: relative;
            margin: auto;
        }
        .mySlides{
            display: none;
        }
        /* NEXT AND PREVIOUS BUTTONS */
        /* .prev, .next{
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: var(--clr-secondary);
            font-size: var(--fs-200);
            font-weight: var(--fw-semi-bold);
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        } */

        /* Position the next button to right */
        /* .next{
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover{
            background-color: rgba(0, 0, 0, 8);
        } */

        /* number texts */
        /* .numbertext{
            columns: var(--clr-accent1);
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: #717171;
        } */

        /* fading animation */
        /* .fade{
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from{opacity: .5;}
            to {opacity: 1;} */
            
        /* } */ 

        

}